<!-- 
  Este es el HTML de la ventana del modal.
  Se estiliza con Tailwind.
-->
<div class="p-6 bg-white dark:bg-background-dark rounded-lg">
  
  <!-- Cabecera con Título e Ícono de Cerrar -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-bold text-black dark:text-white" id="dialog-title">
      {{ data.title }}
    </h2>
    <button (click)="onCancel()" class="text-neutral-500 dark:text-neutral-400 hover:text-primary">
      <span class="material-symbols-outlined">close</span>
    </button>
  </div>

  <!-- Cuerpo del Mensaje -->
  <div class="mb-6">
    <p class="text-neutral-600 dark:text-neutral-300">
      {{ data.message }}
    </p>
  </div>

  <!-- Pie con Botones de Acción -->
  <div class="flex justify-end gap-3">
    <!-- Botón Cancelar -->
    <app-button variant="secondary" (click)="onCancel()">
      {{ data.cancelText }}
    </app-button>
    
    <!-- Botón Confirmar -->
    <app-button variant="primary" (click)="onConfirm()">
      {{ data.confirmText }}
    </app-button>
  </div>

</div>