<header
  class="whitespace-nowrap border-b border-primary/20 dark:border-primary/30 py-4 text-background-dark bg-background-light dark:bg-background-dark dark:text-background-light">
  
  <div class="flex items-center justify-between w-full mx-auto max-w-7xl px-4 md:px-8">

    <div class="flex items-center gap-3">
      
      <button matMiniFab 
        type="button" data-drawer-target="drawer-body-scrolling" data-drawer-show="drawer-body-scrolling"
        data-drawer-body-scrolling="true" aria-controls="drawer-body-scrolling"
        class="md:hidden"> 
        <mat-icon>menu</mat-icon>
      </button>

      <div class="h-8 w-8 text-primary">
        <svg fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" d="M24 4H42V17.3333V30.6667H24V44H6V30.6667V17.3333H24V4Z" fill="currentColor"
            fill-rule="evenodd"></path>
        </svg>
      </div>
      <h2 class="text-xl font-bold">EduByte</h2>
    </div>

    <nav class="hidden items-center gap-8 md:flex">
      @for (item of menuItems; track item.label) {
      <a [routerLink]="item.link" routerLinkActive="text-primary underline underline-offset-4"
        [routerLinkActiveOptions]="{exact: true}" class="text-sm font-medium hover:text-primary transition-colors">
        {{ item.label }}
      </a>
      }
    </nav>

    <div class="flex items-center gap-2">

      <div *ngIf="!isUserLoggedIn()" class="hidden items-center gap-2 md:flex"> 
        <button (click)="goToRegister()"
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-primary text-white text-sm font-bold tracking-wide hover:bg-primary/90 transition-all">
          <span class="truncate">Regístrate</span>
        </button>
        <button (click)="goToLogin()"
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-primary/10 text-primary dark:bg-primary/20 dark:text-primary text-sm font-bold tracking-wide hover:bg-primary/20 transition-all">
          <span class="truncate">Iniciar sesión</span>
        </button>
      </div>
      
      <div *ngIf="isUserLoggedIn()" class="hidden items-center gap-2 justify-center md:flex"> 
        <app-profile-card></app-profile-card>
      </div>

      <div *ngIf="!isUserLoggedIn()" class="flex items-center gap-2 md:hidden">
        <button (click)="goToRegister()"
          class="flex h-10 w-10 cursor-pointer items-center justify-center overflow-hidden rounded-xl bg-primary/10 text-primary dark:bg-primary/20 dark:text-primary hover:bg-primary/20 transition-all">
          <span class="material-symbols-outlined"> person_add </span>
        </button>
        <button (click)="goToLogin()"
          class="flex h-10 w-10 cursor-pointer items-center justify-center overflow-hidden rounded-xl bg-primary/10 text-primary dark:bg-primary/20 dark:text-primary hover:bg-primary/20 transition-all">
          <span class="material-symbols-outlined"> login </span>
        </button>
      </div>

      <div *ngIf="isUserLoggedIn()" class="flex items-center gap-2 md:hidden">
        <button (click)="goToProfile()" class="flex h-10 w-10 cursor-pointer items-center justify-center overflow-hidden rounded-xl bg-primary/10 text-primary dark:bg-primary/20 dark:text-primary hover:bg-primary/20 transition-all">
          <span class="material-symbols-outlined"> account_circle </span>
        </button>
      </div>

      <button (click)="toggleDarkMode()"
        class="flex h-10 w-10 cursor-pointer items-center justify-center overflow-hidden rounded-xl bg-primary/10 text-primary dark:bg-primary/20 dark:text-primary hover:bg-primary/20 transition-all">
        <span class="material-symbols-outlined"> dark_mode </span>
      </button>
    </div>

  </div> </header>