<ion-grid>
  <ion-row>
    <ion-col size="6" class="ion-text-center ion-display-flex ion-align-items-center ion-justify-content-center flex-column">
      <ion-text>
        <h3 class="text-white">Welcome Educom online courses</h3>
      </ion-text>
      <ion-text>
        <h1>
          Achieving Your Dreams <br>
          Through <span>Education</span>
        </h1>
      </ion-text>

    </ion-col>
    <ion-col size="6">
      <img src="assets/images/thumb-1-1.jpg" alt="Hero Image" class="hero-image">
    </ion-col>

  </ion-row>
</ion-grid>